* {
    margin: 0;
    padding: 0;
}  
.main_div {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    height: 500px;
    width: 70%;
    overflow-y: scroll;
    box-shadow: 2px 1px 2px 2px;
}

.left_div {
    position: sticky;
    top: 0;
    height: 450px;
    width: 35%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box1 {
    position: sticky;
    top: 0;
    background-color: white;
    height: 50px;
    padding: 1rem;
}

p {
    margin-left: 1rem;
    font-size: 20px;
}
a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:#737373;
}

.right_div {
    height: 500px;
    width: 100%;
}

.span1 {
    padding: 1rem;
    margin-left: 0.5rem;
}
.item{
    padding: 1rem;
}
.icon{
    padding:1rem;
}

a:hover {
    background-color: lightgray;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;   
    padding-left: 0rem;
}
a:focus{
    background-color:#d8b4fe;
    padding: 1rem;
    border-radius: 0.5rem;
    color: blue;
    padding-left: 0rem;
}
.i:focus{
    color: blue;
}
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    padding: 2rem;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.short_drawer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 20%;
    margin-left: 25rem;
    box-shadow: 2px 1px 2px 2px;
}
